<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <p class="display-4" >
        <div style="text-align: left" >
            <p style="font-size:160%;">
            My Name Is Reihaneh Namdari
            I’ve been working as a GIS(Geographic info. Sys.) specialist for 7 years in Tehran Traffic Control Company, municipality of Tehran, Capital of Iran. </p>
            </p>
        </div><br/>
    </p>
      <p style="text-align: right"><img src="/Assets/images/Reihanehnamdari.jpg" alt="Reihanehnamdari" width="220" height="300"></p>
      <p style="font-size:180%;"> You can download my Resume from 
        <a href="/Assets/docs/Reihaneh Namdari Resume.pdf">Here</a>
        </p> 
      
    </div>
    
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




