<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <div class="content-sidebar-wrap"><main class="content"><h1 class="entry-title" align="center">Contact me:</h1>

    </div>

    <!--Contact us form-->
      <script>function designBombsResizeIframe(obj) { 
          obj.style.height = Math.max( obj.contentWindow.document.body.scrollHeight, obj.contentWindow.document.body.offsetHeight, 
          obj.contentWindow.document.documentElement.clientHeight, obj.contentWindow.document.documentElement.scrollHeight, obj.contentWindow.document.documentElement.offsetHeight ) + 'px';
      }</script>
      <iframe src="https://www.designbombs.com/freebies-demo/modal-box-contact-form/" frameborder="0" scrolling="no" class="freebie-iframe" onload="designBombsResizeIframe(this)" style="width: 100%; height: 431px;" __idm_frm__="11195"></iframe>



    </body>

  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




