<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <body class="w3-content" style="max-width:1200px">
      
      <div class="w3-panel">
     
      </div>
      <!-- First Grid: my name is reihane namdari -->
      <div class="w3-row">
        <div class="w3-half w3-container">
        <h1 class="w3-xxlarge w3-text-grey">My name is</h1>
        <h1 class="w3-jumbo">REIHANEH NAMDARI</h1>
      </div>
      <div class="w3-half w3-container w3-xlarge w3-text-grey">
        <br>
        <br>
        <p class="">I am a GIS and Traffic data specialist. 
          Over 7 years of experience in the field of urban and traffic data management. </p>
       
      </div>
      </div>
      
      
      </div>
      
      <!-- Footer -->
      <div class="w3-row w3-section">
        <div class="w3-third w3-container w3-black w3-large" style="height:250px">
          <h2>Contact Info</h2>
          <p><i class="fa fa-map-marker" style="width:30px"></i> Toronto, Canada</p>
          <p><i class="fa fa-phone" style="width:30px"></i> Phone: +234 405-0576</p>
          <p><i class="fa fa-envelope" style="width:30px"> </i> Email: r3ihan3h@gmail.com</p>
        </div>
        <div class="w3-third w3-center w3-large w3-dark-grey w3-text-white" style="height:250px">
          <h2>Contact Me</h2>
          <p>If you have an idea and I am open to work.</p>
          <p>What are you waiting for?</p>
        </div>
        <div class="w3-third w3-center w3-large w3-grey w3-text-white" style="height:250px">
          <h2>Like Me On</h2>
          <i class="w3-xlarge fa fa-facebook-official"></i><br>
          <i class="w3-xlarge fa fa-pinterest-p"></i><br>
          <i class="w3-xlarge fa fa-twitter"></i><br>
          <i class="w3-xlarge fa fa-flickr"></i><br>
          <i class="w3-xlarge fa fa-linkedin"></i>
          <br>
          <br>
        </div>
        
      </div>
      </body>
      </html>
      
</div>

</body>
</html>


  




