<!--project page, Reihaneh Namdari , Student ID:301189000, Sunday, October 3, 2021-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>



<div class="row">  
<div class="col-md-3">
    <br>
    <div style="text-align: center"><img src='/Assets/images/urbanAnalysis.png' alt="urbanAnalysis" width="300" height="300"><br>Urban Network Analysis of Tehran</div>
</div>

<div class="col-md-5">
    <br>
    <div style="text-align: center"><img src='/Assets/images/dsrc.jpg' alt="DSRC" width="500" height="300"><br>Using Dedicated Short Range Communication in Tehran</div>

</div>

<div class="col-md-3">
    <br>
    <div style="text-align: center"><img src='/Assets/images/accident.jpg' alt="accident" width="400" height="300"><br>Processing Accident data to reduce accident rate in Tehran</div>


</div>
</div>
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




