<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

j
<div class="gallery">
    <a target="_blank" href="/Assets/images/cloudgis.jpg">
      <img src="/Assets/images/cloudgis.jpg" alt="cloudgis" width="400" height="300" >
    </a>
    <div class="desc">Implementation of Web-GIS solutions on the Cloud</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="/Assets/images/citymapping.jpg">
      <img src="/Assets/images/citymapping.jpg" alt="Citymapping" width="400" height="300">
    </a>
    <div class="desc">Spatial Data, Mapping & Open and Big Data</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="/Assets/images/innovation.jpg">
      <img src="/Assets/images/innovation.jpg" alt="innovation" width="400" height="300">
    </a>
    <div class="desc">Innovation & Research</div>
  </div>
  

  </div>
<br>
<br>
<br>
<br>
</div>
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




